body{
    background-color: #B99470;
    font-family:'Times New Roman', Times, serif;
}

.navbar {
    background-color: #B99470;
}

.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    color: #B99470;
} 

.navbar-brand:hover {
    color: #C0C78C;
}

.nav-link {
    text-transform: uppercase;
    margin-right: 30px;
    color: #C0C78C;
}

.nav-link:hover {
    color: #C0C78C;
}

.nav-link {
    text-transform: uppercase;
    margin-right: 30px;
    color: #B99470;
}

.nav-link:hover {
    color: #C0C78C;
}

.jumbotron {
    background-color: #f1eccd;
    padding-top: 100px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.container {
    background-color: #f1eccd;
    border-radius: 15px;
}

.display-4 {
    text-align: center;
    color: #B99470;
    margin-top: 50px;
}

.list-group {
    border-radius: 5px;
    padding-bottom: 30px;
}

.list-group-item {
    background-color: #C0C78C;
    color: #f1eccd;
    border-radius: 5px;
}

.button {
    background-color: #C0C78C;
    color: #f1eccd;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 10px 20px;
    align-items: center;
    text-decoration: none;
}

.button:hover {
    background-color: #f1eccd;
    color: #C0C78C;
}

.mt {
    color: #B99470;
}

.custom-progress {
    background-color: #A6B37D;
    color: #f1eccd;
}

.progress {
    background-color: #C0C78C;
}

.custom-table {
    margin-top: 10px; 
}

.custom-table th, .custom-table td {
    background-color: #f1eccd;
    color: #B99470; 
}

.card {
    background-color: #C0C78C;
    color:#f1eccd;
    border: 0;
}

.footer-brand {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-right: 10px;
    color: #B99470;
    text-decoration: none;
}

.footer-brand:hover{
    color: #C0C78C;
}

#aboutme {
    margin-top: 5px;
    padding-top: 20px;
}

#profile {
    margin-top: 5px;
    padding-top: 20px;
}

#education {
    margin-top: 5px;
    padding-top: 20px;
}

#skills {
    margin-top: 4px;
    padding-top: 20px;
}

#experience {
    margin-top: 4px;
    padding-top: 20px;
}
